
<label id="myLabel"></label>

<my-input id="myInput"></my-input>


<script type="module">
    import { MyInputComponent } from './my-input-component.js';

    customElements.define('my-input', MyInputComponent);

    myInput.addEventListener('myinput', (event) => {
        myLabel.innerText = event.detail.value;
    });
</script>